@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #212529;
    height: 100vh;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 50px;
}

.navbar .logo{
    color: #ffb742;
    font-size: 35px;
    font-weight: 600;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin: 0 15px;
}

.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar ul li:hover a{
    color: #ffb742;
}

.main{
    display: flex;
    height: 960px;
    align-items: center;
    justify-content: center;
    flex-direction: column;;
}

.main h4{
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 600;
}

.main h4 span{
    color: #ffb742;
    text-decoration: underline;
}

.main p.title{
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}
.main p.subtitle{
    color: #cccccc;
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 400;
}

.seprator{
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.08);
    display: inline-block;
    border-radius: 12px;
    color: #ffb742;
    font-size: 22px;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom: 50px;
    gap: 80px;
    
}

.about img{
    width: 500px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    border: #ffb742 10px solid;
    margin-top: 6%;
}

.about .info h3{
    color: #ffffff;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 600;
}

.about .info p{
    color: #cccccc;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}

.skills{
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    margin-bottom: 60px;
}

.skills .left{
    width: 680px;
}

.skills .left .info h3{
    color: #fff;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.skills .left .info p{
    color: #ccc;
    font-size: 20px;
}


.skills .right{
    width: 420px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
}

.skills .right .item{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #383e45;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.skills .right .item i{
    font-size: 34px;
    color: #fff;
}

.content{
    padding: 30px 148px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.works-list .item img{
    width: 320px;
    height: 200px;
    border-radius: 6px;
}

.works-list .item{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e0e0e0;
}

.works-list .item h3{
    font-size: 30px;
    margin-bottom: 16px;
    color: #fff;
}
.works-list .item .details p{
    line-height: 1.6;
    margin-bottom: 20px;
    color: #cccccc;
    font-size: 18px;
    font-weight: 400;
}

.works-list .item .details .item-info{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.works-list .item .details .item-info .year-badge{
    background-color: #303f9f;
    padding: 2px 14px;
    color: #fff;
    border-radius: 16px;
    font-size: 14px;
    font-weight: bold;
}

footer{
    background: #1c1c1c;
    padding: 80px 50px 40px;
    position: relative;
}

footer .cols{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 40px;
}

footer .cols .about-cols{
    flex: 3;
}

footer .cols .about-cols h3{
    color: #ffb742;
    font-size: 34px;
    margin-bottom: 20px;
}

footer .cols .about-cols p{
    color: #cccccc;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
}

footer .cols .links-cols{
    flex: 3;
}

footer .cols .links-cols h4{
    color: #cccccc;
    font-size: 18px;
    margin-bottom: 20px;
}

footer .cols .links-cols a{
    display: block;
    text-decoration: none;
    color:#7b7b7b;
    line-height: 33px;
    font-size: 16px;
    transition: color 0.3s ease;
}

footer .cols .links-cols a:hover{
    color: #ffb742;
}

footer .cols .social-cols{
    flex: 3;
}

footer .cols .social-cols h4{
    color: #cccccc;
    font-size: 18px;
    margin-bottom: 30px;
}

footer .cols .social-cols a{
    display: block;
    text-decoration: none;
    color:#7b7b7b;
    line-height: 35px;
    font-size: 16px;
    transition: color 0.3s ease;
}

footer .cols .social-cols a:hover{
    color: #ffb742;
}

footer .cols .social-cols a i{
    margin-right: 10px;
    font-size: 18px;
}

footer .bottom-bar{
    border-top: 1px solid #333;
    padding-top: 20px;
    text-align: center;
    color: #ccc;
}


@media screen and (max-width: 1200px) {
    .about {
        flex-direction: column;
        text-align: center;
    }

    .about img{
        width: 300px;
        margin-top: 0;
    }

    .skills{
        flex-direction: column;
        align-items: center;
    }

    .skills .left, .skills .right{
        width: 100%;
        text-align: center;
    }

    .navbar{
        flex-direction: column;
        height: auto;
    }

    .navbar ul{
        margin-top: 10px;
    }
    
    .content{
        padding: 30px 30px 60px;
    }
}

@media  screen and (max-width: 769px) {

    .navbar h2{
        font-size: 28px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
   
    .navbar ul li a{
        font-size: 16px;
        justify-content: center;
    }

    .main {
        margin-top: 200px;
        height: 320px;
        justify-content: start;
    }

    .main h4{
        font-size: 36px;
    }
    .main p.title{
        font-size: 18px;
    }
    .main p.subtitle{
        font-size: 13px;
}

    .skills {
        flex-direction: column;
        align-items: center;
    }

    .skills .left{
        width: 100%;
        text-align: left;
    }

    .skills .left .info h3{
        font-size: 24px;
    }

    .skills .left .info p{
        font-size: 16px;
    }

    .skills .right{
        width: 100%;
        justify-content: space-between;
        margin-top: 50px;

    }

    .content .item{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    footer .cols{
        flex-basis: 100%;
        margin-bottom: 20px;
        flex-direction: column;
    }

    footer .cols .about-cols,
    footer .cols .links-cols,
    footer .cols .social-cols{
        flex: none;
        margin-bottom: 30px;}
    }